
bin/Debug/MiniWordPad.exe
bin/Debug/MiniWordPad.exe.config
bin/Debug/MiniWordPad.pdb
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/MiniWordPad.Properties.Resources.resources
obj/Debug/MiniWordPad.pdb
obj/Debug/MiniWordPad.MainForm.resources
obj/Debug/MiniWordPad.exe
obj/Debug/MiniWordPad.csprojAssemblyReference.cache
obj/Debug/MiniWordPad.csproj.GenerateResource.cache
obj/Debug/MiniWordPad.csproj.FileListAbsolute.txt
obj/Debug/MiniWordPad.csproj.CoreCompileInputs.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
.vs/MiniWordPad/v16/.suo
obj/Debug/DesignTimeResolveAssemblyReferences.cache
bin/Debug/help.chw
